streamlit
langchain-core
langchain-groq
# langchain-anthropic   # uncomment when switching to Claude
curl-cffi
beautifulsoup4
googlesearch-python
spacy
yake
keybert
sentence-transformers
gspread
pandas
google-auth
